# =========================
# 1. Backend (Python/FastAPI)
# =========================
backend/venv/
backend/env/
backend/__pycache__/
backend/.pytest_cache/
*.pyc

# =========================
# 2. Inteligencia Artificial (Datasets y Modelos)
# =========================
*.keras
*.h5
*.pb
/dataset/
/imagenes/
/backend/Modelos_Exportados/

# =========================
# 3. Sistema Operativo y Varios
# =========================
.DS_Store
Thumbs.db
.env
.venv/
__pycache__/
Documentos_Clasificados/
Documentos_Temporales/
Documentos_Resultados/