# =========================
# 1. Backend (Python/FastAPI)
# =========================
backend/env/
backend/__pycache__/
backend/.pytest_cache/
*.pyc

# =========================
# 2. Inteligencia Artificial (Datasets y Modelos)
# =========================
*.keras
*.h5
*.pb
/dataset/
/imagenes/
/backend/Modelos_Exportados/
/backend/Documentos_Clasificados/
/backend/Documentos_Resultados/

# =========================
# 3. Sistema Operativo y Varios
# =========================
.DS_Store
Thumbs.db
.env
backend/.env
!.env.example
!env.example
__pycache__/
