# =========================
# 1. Backend (Python/FastAPI)
# =========================
backend/.venv/
.venv/
backend/env/
backend/__pycache__/
backend/.pytest_cache/
*.pyc

# =========================
# 2. Inteligencia Artificial (Datasets y Modelos)
# =========================
*.keras
*.h5
*.pb
/dataset/
/imagenes/
/backend/Documentos_Clasificados/
/backend/Documentos_Resultados/
/Documentos_Resultados/
/Documentos_Temporales/

# =========================
# 2. Frontend (Next.js)
# =========================
frontend/node_modules/
frontend/.next/
frontend/.env
frontend/.env.local
frontend/.env.*
npm-debug.log
yarn-debug.log
yarn-error.log

# =========================
# 3. Sistema Operativo y Varios
# =========================
.DS_Store
Thumbs.db
.env
backend/.env
!.env.example
!env.example
__pycache__/
